USE [master]
GO
/****** Object:  Database [DbTodo]    Script Date: 04/22/2019 12:40:07 ******/
CREATE DATABASE [DbTodo] ON  PRIMARY 
( NAME = N'DbTodo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DbTodo.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DbTodo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DbTodo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbTodo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbTodo]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 04/22/2019 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Todo](
	[IdTodo] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](150) NULL,
	[Status] [varchar](1) NULL,
	[AttachType] [nvarchar](4) NULL,
	[AttachFile] [varbinary](max) NULL,
 CONSTRAINT [PK_Todo] PRIMARY KEY CLUSTERED 
(
	[IdTodo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
